    .inner-container {
        background-image: url(images/bg-top.svg), url(images/bg-bottom.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: top right, bottom left;
        background-size: 30%;
        background-color: rgb(176, 173, 190);
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
    }

    .container-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 3em;
    }
    .container-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 5em;
    }

    .sub-div2 {
        text-align: center;
        padding: 2.5em;
        border-radius: 0.5em;
        background-color: hsl(228, 39%, 47%);

    }

    .sub-div1,
    .sub-div3 {
        text-align: center;
        padding: 1.5em;
        border-radius: 0.5em;
        background-color: white;
    }

    hr {
        width: 90%;
    }

    .price-button {
        color: white;
        background-color: hsl(228, 45%, 44%);
        padding: 0.5em 4em;
        text-align: center;
        margin: 0.5em;
        cursor: pointer;
        font-weight:bold;
        border-radius: 0.4em;
    }
    .button2 {
        color: hsl(228, 45%, 44%);
        background-color: white;
        
        box-shadow: 0.1em 0.1em;
    }
    h4{
        margin: 7%;
    }
    .switch {
        flex-grow: 1;
        display: flex;
        align-items: center;
        /* background-color: aqua; */
        /* border: 2px solid red; */
    }

    .toggle {
        appearance: none;
        width: 50px;
        height: 26px;
        background-color: hsl(228, 45%, 44%);
        border-radius: 13px;
        position: relative;
    }

    .toggle::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        top: 3px;
        left: 3px;
        background-color: white;
        transition: transform 0.2s;
    }
    .toggle:checked::before {
        transform: translateX(24px);
    }
    
    .main-container{
        margin: 0%;
        padding: 5%;
        background-image: url(images/bg-top.svg), url(images/bg-bottom.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: bottom right, top left;
        background-size: 50%;
    }